# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/test-results/
/playwright-report/
/blob-report/
/supabase/.temp/
/supabase/.branches/

# local environment files
.env
.env.*
!.env.example
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor and OS
.DS_Store
*.tsbuildinfo
